.squad-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.squad-card .squad-profile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.squad-card .squad-profile .squad-avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.squad-card .squad-profile .squad-name {
  font-size: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #fff;
}
