#history-list .label {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  padding: 12px 10px 10px;
  color: var(--gray-color);
}

#history-list .result-card-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-bottom: 36px;
  align-items: flex-end;
  justify-content: center;
}

#history-list .result-card-container .button,
#history-list .result-card-container .loading {
  margin-top: 6px;
  margin-right: 6px;
}
