.bot-nav {
  text-decoration: none;
  color: unset;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
}

.bot-nav:hover,
.bot-nav:active {
  opacity: 0.8;
}

.bot-nav .nav-label {
  color: #ced4da;
  font-size: 12px;
  font-weight: 600;
}

.bot-nav.active .nav-label {
  color: #9747ff;
}
