#profile-details-container {
  margin-bottom: 8px;
}

#profile-details-container .cover-img {
  /* margin-bottom: 8px; */
  width: 100%;
}

#profile-details-container .cover-img img {
  width: 100%;
}
#profile-details-container .details-container {
  display: flex;
  flex-direction: column;
  padding: 66px 6px 10px 10px;
  background-color: rgb(118, 120, 237, 0.5);
  position: relative;
  border-radius: 5px;
}

#profile-details-container .details-container .profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -50px;
  left: 0;
  width: 150px;
}

#profile-details-container .details-container .profile-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid rgb(255, 255, 255);
}

#profile-details-container .details-container .profile-container .profile-name {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #fff;
  padding: 8px 0 0;
}

#profile-details-container .details-container .analysis-container {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  justify-content: space-between;
}

#profile-details-container
  .details-container
  .analysis-container
  .rank-squad
  .rank-details {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 20px 10px 10px;
}

#profile-details-container
  .details-container
  .analysis-container
  .rank-squad
  .rank-details
  .current-rank,
#profile-details-container
  .details-container
  .analysis-container
  .rank-squad
  .rank-details
  .high-rank {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#profile-details-container
  .details-container
  .analysis-container
  .rank-squad
  .rank-details
  .text {
  font-size: 12px;
  font-style: italic;
  color: #fff;
  font-weight: 100;
}

#profile-details-container
  .details-container
  .analysis-container
  .rank-squad
  .profile-squad-container {
  padding: 8px 8px 16px 12px;
  border: 0.013px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

#profile-details-container
  .details-container
  .analysis-container
  .rank-squad
  .profile-squad-container
  .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

#profile-details-container
  .details-container
  .analysis-container
  .rank-squad
  .profile-squad-container
  .header
  .title {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: var(--orange-color);
}

#profile-details-container
  .details-container
  .analysis-container
  .rank-squad
  .squad-container {
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#profile-details-container
  .details-container
  .analysis-container
  .three-circles {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  flex: 1;
  transform: translateY(-12px);
  gap: 8px;
}

#profile-details-container
  .details-container
  .analysis-container
  .three-circles
  .circle-analysis:first-child {
  position: absolute;
  right: 84px;
  top: 18px;
  /* background-color: red; */
}
