#ranking-page .filter-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#ranking-page .filter-container .date-filter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
}

#ranking-page .filter-container .date-filter select {
  color: var(--gray-blue-color);
  /* padding: 5px; */
}

#ranking-page .filter-container .date-filter select option {
  font-size: 14px;
}

#ranking-page .filter-container .date-filter img {
  width: 10px;
  height: 5px;
}
