#ranking-page .filter-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#ranking-page .filter-container .date-filter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
}

#ranking-page .filter-container .date-filter select {
  color: var(--gray-blue-color);
  /* padding: 5px; */
}

#ranking-page .filter-container .date-filter select option {
  font-size: 14px;
}

#ranking-page .filter-container .date-filter img {
  width: 10px;
  height: 5px;
}

/* your ranking */

#ranking-page .your-ranking {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
}

#ranking-page .your-ranking .label {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  color: var(--purple-color);
  font-weight: 500;
}
