/* .ranking-container {
  padding-bottom: 40px;
} */
.ranking-container .ranking-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* gap: 4px; */
  padding: 10px 0 6px;
  border-bottom: 0.25px solid rgba(27, 38, 59, 0.25);
}

.ranking-container .ranking-header .header-item {
  width: 50px;
  text-align: center;
}

.ranking-container .ranking-header .player-name {
  margin-left: 30px;
  flex: 1;
}

.ranking-container .ranking-header .player-name,
.ranking-container .ranking-header .header-item {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: var(--orange-color);
  opacity: 0.8;
}

.ranking-container .ranking-card-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px 0;
  align-items: center;
  justify-content: center;
}

.ranking-container .ranking-card-container .button {
  margin-top: 10px;
}
