@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gray-color: #ced4da;
  --dark-color: #1b263b;
  --dark-gray-color: #415a77;
  --orange-color: #f7b267;
  --skyblue-color: #0575ad;
  --white-purple-color: #bfaada;
  --purple-color: #9747ff;
  --light-purple-color: #7678ed;
  --dark-purple-color: #3d348b;
  --gray-purple-color: #474973;
  --green-color: #2dd112;
  --red-color: #ff3030;
  --gray-blue-color: #a0bbc9;
  --dark-cyan-color: #023047;
  --cyan-color: #0575ad;
  --gray-blue-color: #a0bbc9;
  --dark-blue-color: #1b263b;
  --light-gray-color: #d9d9d9;
}

div,
span,
a,
ul,
li {
  -webkit-tap-highlight-color: transparent;
}

.tab-page {
  padding: 12px 10px 80px;
  min-height: 100vh;
  /* overflow-y: scroll; */
  /* margin-bottom: 70px; */
  /* background-color: red; */
  padding-top: 56px;
}

.full-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 400;
}
